# Application
DEBUG=false

# PostgreSQL
POSTGRES__HOST=localhost
POSTGRES__PORT=5432
POSTGRES__NAME=name
POSTGRES__USER=postgres
POSTGRES__PASSWORD=1234

# Redis
REDIS__HOST=redis_app
REDIS__PORT=6379
REDIS__DB=0

# Kafka
KAFKA__SERVER=kafka:9092

# JWT
JWT__PRIVATE_KEY_PATH=/run/secrets/jwt/private.pem
JWT__PUBLIC_KEY_PATH=/run/secrets/jwt/public.pem
JWT__ALGORITHM=RS256

# Email
EMAIL__SENDER_EMAIL=email
EMAIL__SENDER_PASSWORD=password
