http://{$DOMAIN} {
 encode gzip
 handle_path /api/* {
  reverse_proxy backend:80
 }
 handle_path /ntfc/* {
  reverse_proxy notifications:80
 }
 handle /ws/* {
  reverse_proxy notifications:80
 }
 handle {
  root * /app/dist
  try_files {path} /index.html
  file_server
 }
 handle_errors {
  respond "{err.status_code} {err.status_text}"
 }
}