# S3
S3__ENDPOINT_URL=http://s3:4566
S3__REGION_NAME=us-east-1
S3__ACCESS_KEY=test
S3__SECRET_KEY=test
S3__BUCKET=videohosting
S3__PUBLIC_URL=http://localhost:4566/videohosting

# PostgreSQL
POSTGRES__HOST=db_app
POSTGRES__PORT=5432
POSTGRES__NAME=videohosting
POSTGRES__USER=postgres
POSTGRES__PASSWORD=1234

# Loki
LOKI__HOST=http://loki
LOKI__PORT=3100
LOKI__PUSH_URL=http://loki:3100/loki/api/v1/push

# Prometheus
PROMETHEUS__HOST=http://prometheus
PROMETHEUS__PORT=9090

# GRAFANA
GRAFANA__ADMIN_LOGIN=testtest
GRAFANA__ADMIN_PASSWORD=testtest