# Application
DEBUG=false

# PostgreSQL
POSTGRES__HOST=localhost
POSTGRES__PORT=5432
POSTGRES__NAME=name
POSTGRES__USER=postgres
POSTGRES__PASSWORD=1234

# Redis
REDIS__HOST=localhost
REDIS__PORT=6379
REDIS__DB=0

# Kafka
KAFKA__SERVER=kafka:9092

# S3
S3__ENDPOINT_URL=http://s3:4566
S3__REGION_NAME=us-east-1
S3__ACCESS_KEY=test
S3__SECRET_KEY=test
S3__BUCKET=videohosting
S3__PUBLIC_URL=http://localhost:4566/videohosting

# JWT
JWT__PRIVATE_KEY_PATH=/run/secrets/jwt/private.pem
JWT__PUBLIC_KEY_PATH=/run/secrets/jwt/public.pem
JWT__ALGORITHM=RS256
JWT__TOKEN_TTL_SECONDS=100

# Logging
LOGGING__USE_JSON=True