# Kafka
KAFKA__SERVER=kafka:9092

# S3
S3__ENDPOINT_URL=http://s3:4566
S3__REGION_NAME=us-east-1
S3__ACCESS_KEY=test
S3__SECRET_KEY=test
S3__BUCKET=videohosting
S3__PUBLIC_URL=http://localhost:4566/videohosting

# Video Converter Workers
CONVERTER__WORKERS=1