:root {
	--color-main: #7713c3;
	--color-disabled: #737373;
	--background-color: #2b2b2b;
	--color-white: #ffffff;
    --color-blue: #7ED2FF;
    --color-hover: #C77DFF;
    --background-color-external: #353535;
	--color-red: #FF0909;
}
